.profile {
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__container {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  color: white;
  width: 100%;
  font-size: 48px;
  text-align: center;
  font-weight: 500;
}

.profile__user ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.profile__userName {
  color: #808080;
  text-overflow: ellipsis;
  font-size: 16px;
}

.profile__userName:hover {
  font-weight: bold;
  color: #e5e5e5;
}

.profile__userImage {
  width: 100%;
  max-width: 150px;
  height: auto;
  border: 3px solid black;
  cursor: pointer;
}

.profile__user ul li {
  max-height: 200px;
  max-width: 200px;
  text-align: center;
  margin-right: 30px;
}

.profile__user > ul:hover .profile__userImage {
  border: 3px solid white;
  font-weight: bold;
  color: white;
}

.profile__user > ul:hover .profile__userName {
  font-weight: bold;
  color: white;
}
