.optform {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 16px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .optform {
        flex-direction: column;
        align-items: center;
    }
}

.optform__input {
    max-width: 450px;
    width: 100%;
    border: none;
    padding: 10px;
    height: 70px;
    box-sizing: border-box;
}

.optform__botton {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 0 32px;
    border: none;
    font-size: 26px;
    height: 70px;
    color: white;
    cursor: pointer;
}

.optform__botton img {
    filter: brightness(0) invert(1);
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
@media (max-width: 1000px) {
    .optform__botton {
        font-size: 16px;
        height: 50px;
        margin-top: 20px !important;
        font-weight: bold;
    }
    .optform__botton img {
        width: 16px;
        height: 16px;
    }
}

.optform__text {
    font-size: 19.2px;
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 600px) {
    .optform__text {
        font-size: 16px;
        line-height: 22px;
        margin-top: 0;
    }
}